@font-face {
  font-family: "Mario Kart DS";
  src: url("../fonts/Mario-Kart-DS.ttf") format("truetype");
}

.hideMe {
  display: none;
}

.showMe {
  display: inline-block;
}

body {
  background-color: #0080ff50;
  height: 100vh;
  font-family: "Mario Kart DS";
}

main {
  margin: auto;
  padding: 1vw;
  height: 640px;
  width: 640px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.card#neighborhood {
  /* width: 20vw; */
  width: 640px;
  height: 640px;
  background-image: url("../img/Backdrop03.png");
}

h2 {
  font-size: 32px;
  font-weight: 800;
  padding: 16px;
}

input#count {
  background-color: #ff000000;
  border: none;
  margin: -32px 0 0 128px;
  padding: 10px;
  font-size: 48px;
  line-height: 32px;
  width: 200px;
}

input.digitInput {
  background-color: #ffffff80;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
  line-height: 12px;
  width: 32px;
}

input.valueInput {
  background-color: #ffffff80;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
  line-height: 12px;
  width: 240px;
}

div#settings {
  display: none;
  margin: 0 0 0 16px;
}

button#settings {
  width: 52px;
  height: 48px;
  position: absolute;
  left: 280px;
  bottom: 200px;
  background-color: #ff000000;
  font-size: 48px;
  line-height: 48px;
}

button {
  background-color: #00000000;
  border: none;
}

#roboCounter {
  max-height: 200px;
}

.sprite-backdrop {
  height: 64px;
  margin: 0;
  padding: 0;
  width: 320px;
  background-color: lightgreen;
}