@font-face {
  font-family: "Mario Kart DS";
  src: url("../fonts/Mario-Kart-DS.ttf") format("truetype");
}

.hideMe {
  display: none;
}

.showMe {
  display: inline-block;
}

body {
  background-color: #0080ff50;
  height: 100vh;
  font-family: "Mario Kart DS";
}

main {
  /* background-color: #f2f2f2; */
  margin: auto;
  padding: 1vw;
  height: 640px;
  width: 640px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.card#neighborhood {
  /* width: 20vw; */
  width: 640px;
  height: 640px;
  background-image: url("../img/Backdrop02.png");
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

/* button {
  width: 200px;
  height: 64px;
  background-color: #0080ff50;
  border: 5px dashed #0080ff;
  font-size: 24px;
  font-weight: 800;
  text-transform: lowercase;
} */

div#settings {
  display: none;
}

button {
  background-color: #00000000;
  border: none;
}

input.valueInput {
  width: 320px;
}

#roboCounter {
  max-height: 200px;
}

.sprite-backdrop {
  height: 64px;
  margin: 0;
  padding: 0;
  width: 320px;
  background-color: lightgreen;
}

/* #sprite {
  /* height: 128px;
  margin: 0;
  padding: 0;
  width: 128px;
  background-image: url("../img/128px-Green_Robot_by_GrafxKid_(edited).png");
} */
